* {
    margin: 1%;
}

h1, h2, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 1.2em;
}

h1{
    margin: 0;
}

.container, canvas{
    padding: 1%;
    border: 1px solid black;
}

#creatingChart{
    margin: 0;
}

.container, .container h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chartContainer{
    border: 0;
    /* justify-content: center; */
    justify-items: center;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    /* align-content: center; */
}

.chartContainer canvas{
    flex-grow: 1;
    max-width: 30%; 
    max-height: 600px;
}
