/* Selectores: Descriptores */

* {
    border: 1px solid black;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e0a2f3;
    margin-left: 10%;
    margin-right: 10%;
}

h1, h3 {
    color: rgb(174, 0, 255);
    text-align: center;
}

p {
    color: #3b59df;
    margin: 20px;
}

em {
    background-color: rgb(8, 250, 250);
}

.contenido{
    background-color: rgb(255, 230, 0);
}

#inicio_pagina{
    background-color: #a2f3e8;
}

div{
    background-color: rgb(245, 149, 149);
    border-radius: 10px;
    margin:5%;
    padding: 10px;
}

button{
    color: rgb(255, 0, 221);
    background-color: rgb(220, 217, 20);
    border-radius: 20px;
}

ol{
    list-style: lower-latin;
}